html {
  -webkit-tap-highlight-color: rgba(19, 75, 138, 0.4) !important;
}
a {
  text-decoration: none;
}
/* 見出し */
.subheader {
  font-size: 20px !important;
}
/* マークダウンのコードブロック(```)を調整 */
pre code {
  width: 100%;
  padding-left: 10px;
  margin: 15px 0 15px 0;
  font-weight: 100;
}
/* マークダウンの見出しを調整 */
.markdown h1, h2, h3, h4, h5 {
  padding-top: 20px;
  padding-bottom: 20px;
}