// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

$font-family := Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
html
.application
.title
  font-family: $font-family !important

